In [27]:
import pandas as pd

```bash
pip install sqlalchemy psycopg2-binary 
```

In [28]:
from sqlalchemy import create_engine

In [39]:
# engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [40]:
engine.connect()

In [44]:
query = """
SELECT COUNT(*) FROM yellow_taxi_data2;
"""

pd.read_sql(query, con=engine)

    count
0  655360

In [42]:
query = """
SELECT *
FROM pg_catalog.pg_tables
WHERE schemaname != 'pg_catalog' AND 
    schemaname != 'information_schema';
"""

pd.read_sql(query, con=engine)

,schemaname,tablename,tableowner,tablespace,hasindexes,hasrules,hastriggers,rowsecurity
0,public,yellow_taxi_data2,root,None,True,False,False,False
1,public,yellow_taxi_data,root,None,True,False,False,False

In [14]:
!wget https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2021-01.parquet

--2022-10-15 10:36:44--  https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2021-01.parquet
Resolving d37ci6vzurychx.cloudfront.net (d37ci6vzurychx.cloudfront.net)... 108.157.217.59, 108.157.217.99, 108.157.217.148, ...
Connecting to d37ci6vzurychx.cloudfront.net (d37ci6vzurychx.cloudfront.net)|108.157.217.59|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 21686067 (21M) [application/x-www-form-urlencoded]
Saving to: ‘yellow_tripdata_2021-01.parquet’

yellow_tripdata_202 100%[===================>]  20.68M  5.94MB/s    in 3.6s

2022-10-15 10:36:48 (5.69 MB/s) - ‘yellow_tripdata_2021-01.parquet’ saved [21686067/21686067]

In [ ]:
import pyarrow.parquet as pq
df = pq.read_table('yellow_tripdata_2021-01.parquet')

In [15]:
df = df.to_pandas()
df = df.iloc[:100]

Object `df.to_pandas` not found.

In [12]:
# df = pd.read_csv('yellow_tripdata_2021-01.csv', nrows=100)

In [16]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [23]:
print(pd.io.sql.get_schema(df, 'yellow_tripdata_trip'))

CREATE TABLE "yellow_tripdata_trip" (
"VendorID" INTEGER,
  "tpep_pickup_datetime" TIMESTAMP,
  "tpep_dropoff_datetime" TIMESTAMP,
  "passenger_count" REAL,
  "trip_distance" REAL,
  "RatecodeID" REAL,
  "store_and_fwd_flag" TEXT,
  "PULocationID" INTEGER,
  "DOLocationID" INTEGER,
  "payment_type" INTEGER,
  "fare_amount" REAL,
  "extra" REAL,
  "mta_tax" REAL,
  "tip_amount" REAL,
  "tolls_amount" REAL,
  "improvement_surcharge" REAL,
  "total_amount" REAL,
  "congestion_surcharge" REAL,
  "airport_fee" REAL
)

In [18]:
df.to_sql(name='yellow_tripdata_trip2', con=engine, index=False, )

In [19]:
!ls -l

total 42448
-rw-r--r--  1 pigidser pigidser      179 Oct 14 14:31 Dockerfile
-rw-r--r--  1 pigidser pigidser     5763 Oct 14 14:31 README.md
-rw-r--r--  1 pigidser pigidser      427 Oct 14 14:31 docker-compose.yaml
-rw-r--r--  1 pigidser pigidser     2402 Oct 14 14:31 ingest_data.py
drwx------ 19      999 pigidser     4096 Oct 14 19:23 ny_taxi_postgres_data
-rw-r--r--  1 pigidser pigidser    39034 Oct 14 21:25 pg-test-connection.ipynb
-rw-r--r--  1 pigidser pigidser      152 Oct 14 14:31 pipeline.py
-rw-r--r--  1 pigidser pigidser    17710 Oct 14 14:31 upload-data.ipynb
-rw-r--r--  1 pigidser pigidser 21686067 Jun 30 07:16 yellow_tripdata_2021-01.parquet
-rw-r--r--  1 pigidser pigidser 21686067 Jun 30 07:16 yellow_tripdata_2021-01.parquet.1

In [21]:
query = """
SELECT * FROM yellow_tripdata_trip2 LIMIT 10
"""

pd.read_sql(query, con=engine)

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
0,1,2021-01-01 00:30:10,2021-01-01 00:36:12,1.0,2.10,1.0,N,142,43,2,8.0,3.0,0.5,0.00,0.0,0.3,11.80,2.5,None
1,1,2021-01-01 00:51:20,2021-01-01 00:52:19,1.0,0.20,1.0,N,238,151,2,3.0,0.5,0.5,0.00,0.0,0.3,4.30,0.0,None
2,1,2021-01-01 00:43:30,2021-01-01 01:11:06,1.0,14.70,1.0,N,132,165,1,42.0,0.5,0.5,8.65,0.0,0.3,51.95,0.0,None
3,1,2021-01-01 00:15:48,2021-01-01 00:31:01,0.0,10.60,1.0,N,138,132,1,29.0,0.5,0.5,6.05,0.0,0.3,36.35,0.0,None
4,2,2021-01-01 00:31:49,2021-01-01 00:48:21,1.0,4.94,1.0,N,68,33,1,16.5,0.5,0.5,4.06,0.0,0.3,24.36,2.5,None
5,1,2021-01-01 00:16:29,2021-01-01 00:24:30,1.0,1.60,1.0,N,224,68,1,8.0,3.0,0.5,2.35,0.0,0.3,14.15,2.5,None
6,1,2021-01-01 00:00:28,2021-01-01 00:17:28,1.0,4.10,1.0,N,95,157,2,16.0,0.5,0.5,0.00,0.0,0.3,17.30,0.0,None
7,1,2021-01-01 00:12:29,2021-01-01 00:30:34,1.0,5.70,1.0,N,90,40,2,18.0,3.0,0.5,0.00,0.0,0.3,21.80,2.5,None
8,1,2021-01-01 00:39:16,2021-01-01 01:00:13,1.0,9.10,1.0,N,97,129,4,27.5,0.5,0.5,0.00,0.0,0.3,28.80,0.0,None
9,1,2021-01-01 00:26:12,2021-01-01 00:39:46,2.0,2.70,1.0,N,263,142,1,12.0,3.0,0.5,3.15,0.0,0.3,18.95,2.5,None

```sql
SELECT *
FROM pg_catalog.pg_tables
WHERE schemaname != 'pg_catalog' AND 
    schemaname != 'information_schema';
```

Source: https://www.postgresqltutorial.com/postgresql-show-tables/

In [26]:
query = """
SELECT *
FROM pg_catalog.pg_tables
WHERE schemaname != 'pg_catalog' AND 
    schemaname != 'information_schema';
"""
pd.read_sql(query, con=engine)

,schemaname,tablename,tableowner,tablespace,hasindexes,hasrules,hastriggers,rowsecurity
0,public,yellow_taxi_data,root,None,True,False,False,False
1,public,test_test_test,root,None,False,False,False,False
2,public,test_test_test2,root,None,False,False,False,False
3,public,yellow_taxi_data2,root,None,True,False,False,False

In [45]:
!wget https://d37ci6vzurychx.cloudfront.net/misc/taxi+_zone_lookup.csv

--2022-10-15 18:21:39--  https://d37ci6vzurychx.cloudfront.net/misc/taxi+_zone_lookup.csv
Resolving d37ci6vzurychx.cloudfront.net (d37ci6vzurychx.cloudfront.net)... 54.230.159.160, 54.230.159.124, 54.230.159.45, ...
Connecting to d37ci6vzurychx.cloudfront.net (d37ci6vzurychx.cloudfront.net)|54.230.159.160|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 12322 (12K) [text/csv]
Saving to: ‘taxi+_zone_lookup.csv’

taxi+_zone_lookup.c 100%[===================>]  12.03K  --.-KB/s    in 0.004s

2022-10-15 18:21:39 (2.66 MB/s) - ‘taxi+_zone_lookup.csv’ saved [12322/12322]